# Fichier d'environnement
.env

# Dossiers de sortie Bun (si tu utilises `bun build`)
dist/
build/

# Modules installés par Bun
bun.lock
node_modules/

# Résultats du système Mod_Scope
suspects/
scanned/

# Fichiers systèmes ou temporaires
.DS_Store
*.log
*.tmp

# Éventuels caches d'éditeurs
.vscode/
.idea/
*.swp